<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">

<body>
	<!-- 見出し文 -->
	<h2>Owners</h2>
	<!-- テーブル全体定義 -->
	<table id="owners" class="table table-striped">
		<!-- テーブルカラム名定義 -->
		<thead>
			<!-- テーブル内の行定義 -->
			<tr>
				<!-- オーナー名カラム -->
				<th style="width: 150px;">Name</th>
				<!-- 住所カラム -->
				<th style="width: 150px;">Address</th>
				<!-- 都市名カラム -->
				<th>City</th>
				<!-- 電話番号カラム -->
				<th style="width: 120px">Telephone</th>
				<!-- ペット名カラム -->
				<th>Pets</th>
			</tr>
		</thead>
		<!-- テーブルカラム値定義 -->
		<tbody>
			<!-- テーブル内の行定義 -->
			<tr th:each="owner : ${listOwners}">
				<!-- オーナー名のデータセル定義 -->
				<td>
					<!-- オーナー詳細画面遷移先リンク -->
					<a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
				</td>
				<!-- 住所のデータセル定義 -->
				<td th:text="${owner.address}"/>
				<!-- 都市名のデータセル定義 -->
				<td th:text="${owner.city}"/>
				<!-- 電話番号のデータセル定義 -->
				<td th:text="${owner.telephone}"/>
				<!-- ペット名のデータセル定義 -->
				<td><span th:text="${#strings.listJoin(owner.pets, ', ')}"/></td>
			</tr>
		</tbody>
	</table>
	<!-- ページタグ定義 -->
	<div th:if="${totalPages > 1}">
		<span>Pages:</span>
		<span>[</span>
		<!-- ページ番号定義 -->
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<!-- 開いているページがページ番号と一致しない場合、ページ番号をリンクに -->
			<a th:if="${currentPage != i}" th:href="@{'/owners?page=' + ${i}}">[[${i}]]</a>
			<!-- 開いているページがページ番号と一致してる場合、ページ番号を非リンクに -->
			<span th:unless="${currentPage != i}">[[${i}]]</span>
		</span>
		<span>]&nbsp;</span>
		<!-- 左向きダブル矢印定義 -->
		<span>
			<!-- 開いているページが1より大きいとき、矢印をリンクに -->
			<a th:if="${currentPage > 1}" th:href="@{'/owners?page=1'}" title="First" class="fa fa-fast-backward"></a>
			<!-- 開いているページが1より大きくない場合、矢印を非リンクに -->
			<span th:unless="${currentPage > 1}" title="First" class="fa fa-fast-backward"></span>
		</span>
		<!-- 左向きシングル矢印定義 -->
		<span>
			<!-- 開いているページが1より大きいとき、矢印をリンクに -->
			<a th:if="${currentPage > 1}" th:href="@{'owners?page=__${currentPage - 1}__'}" title="Previous" class="fa fa-step-backward"></a>
			<!-- 開いているページが1より大きくない場合、矢印を非リンクに -->
			<span th:unless="${currentPage > 1}" title="Previous" class="fa fa-step-backward"></span>
		</span>
		<!-- 右向きシングル矢印定義 -->
		<span>
			<!-- 開いているページが総ページ数より小さい場合、矢印をリンクに -->
			<a th:if="${currentPage < totalPages}" th:href="@{'/owners?page=__${currentPage + 1}__'}" title="Next" class="fa fa-step-forward"></a>
			<!-- 開いているページが総ページ数より小さくない場合、矢印を非リンクに -->
			<span th:unless="${currentPage < totalPages}" title="Next" class="fa fa-step-forward"></span>
		</span>
		<!-- 右向きダブル矢印定義 -->
		<span>
			<!-- 開いているページが総ページ数より小さい場合、矢印をリンクに -->
			<a th:if="${currentPage < totalPages}" th:href="@{'/owners?page=__${totalPages}__'}" title="Last" class="fa fa-fast-forward"></a>
			<!-- 開いているページがそうページ数より小さくない場合、矢印を非リンクに -->
			<span th:unless="${currentPage < totalPages}" title="Last" class="fa fa-step-forward"></span>
		</span>
	</div>
</body>
</html>
					