<html>
<!-- 
■各箇所bootstrapの解説：
	1.form-group: 関連するフォームコントロール（ラベル、入力フィールドなど）をひとまとめにし、関連する要素が
					視覚的にグループ化され、フォームのデザインが整然とする。
	2.has-error: フォームコントロールにエラーがある場合に適用され、エラーがあると背景色が赤色に変わる。
	3.control-label: フォームラベルをスタイリングするためのクラスで、ラベルが右揃えされ、フォームコントロールとの
					関連性が視覚的に表示される。
	4.form-control: フォームの入力フィールドをスタイリングするためのクラスで、入力フィールドが均一な外観になり、
					ブラウザのデフォルトスタイルから解放される。
	5.fa-ok: チェックマークのアイコンを表示するためのクラス
	6.fa-remove: 罰マークのアイコンを表示するためのクラス
	7.col-sm-n: bootstrapのグリットシステムを使用してレスポンシブデザインを実装するためのクラスで、
					nの数値についてはn個分のカラム幅を定義するもの。（カラムは12分割した列のこと）
	8.aria-hidden: スクリーンリーダーに読み上げられるかどうかの設定
	9.form-control-feedback: 利用したいアイコンと一緒に用いる。
	
■各箇所thymeleafの解説：
	1.th:block: thymeleafのブロック要素を示す。条件分岐や反復処理など複数の子要素が伴う時に利用する。
	2.th:fragment: 他のテンプレート内で再利用される部分を定義するために利用される。
					th:fragment付随のタグの子要素が、th:replaceに埋め込まれるイメージ。
	3.th:class: 動的にclassを定義することができる。（条件分岐でclass定義を変化させることができる）
-->
<body>
	<form>
		<!-- フォームフィールドのフラグメント形成（th:replaceのinputの3項目に紐づいている） -->
		<th:block th:fragment="input (label, name, type)">
			<!-- th:withは変数宣言するためのもの
			     th:classは動的にクラス名を挿入することができる
			     　→ 以下のソースコードのように、条件分岐する場合に有効 -->
			<div th:with="valid=${!#fields.hasErrors(name)}"
				th:class="${'form-group' + (valid ? '' : ' has-error')}"
				class="form-group">
				<!-- 入力フォームのタイトルに当たる -->
				<label class="col-sm-2 control-label" th:text="${label}">Label</label>
				<!-- div配下は入力フォーム群 -->
				<div class="col-sm-10">
					<!-- th:switchはjavaのswitchと同じ（${type}にはinputの第3引数の値が入る） -->
					<div th:switch="${type}">
						<!-- th:case"'text'"：th:switchにtextが入った場合、当タグが有効になる -->
						<input th:case="'text'" class="form-control" type="text" th:field="*{__${name}__}" />
						<!-- th:case"'date'"：th:switchにdateが入った場合、当タグが有効になる -->
						<input th:case="'date'" class="form-control" type="date" th:field="*{__${name}__}" />
					</div>
					<!-- th:ifがtrueのとき、当タグが有効。
						 aria-hidden="true"：音声読み上げの対象外から除外される
						 当タグは、チェックマークを表示させる -->
					<span th:if="${valid}"
						class="fa fa-ok form-control-feedback"
						aria-hidden="true"></span>
					<th:block th:if="${!valid}">
						<!-- 当タグは、バツマークを表示させる -->
						<span
							class="fa fa-remove form-control-feedback"
							aria-hidden="true"></span>
						<!-- エラー文を表示 help-inlineはバージョン4以降では非推奨 -->
						<span class="help-inline" th:errors="*{__${name}__}">Error</span>
					</th:block>
				</div>
			</div>
		</th:block>
	</form>
</body>
</html>